*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --container-bg: hsl(240,24%,94%);
  --dark-container-bg: hsl(240, 10%, 16%);
  --board-bg: hsl(227, 47%, 96%);
  --dark-board-bg: hsl(228, 28%, 20%);
  --die-clr: hsl(240,53%,15%);
  --dark-die-clr: hsl(240, 12%, 95%);
  --blue: hsl(240, 53%, 49%);
  --green: hsl(163, 72%, 41%);
}
.fa-solid{
  color: var(--blue);
}
.container{
  width: 100%;
  min-height: 100vh;
  background: var(--container-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container.dark-mode{
  color: var(--dark-die-clr);
  background: var(--dark-container-bg);
}
.board{
  color: var(--die-clr);
  padding: 1rem 1.5rem;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  border: 5px solid var(--blue);
  box-shadow: -6px -6px 16px white, 
              6px 6px 16px hsla(240, 30%, 86%, 1), 
              inset 6px 6px 16px hsla(240, 30%, 86%, 1), 
              inset -6px -6px 16px white;
}
.board.dark-mode{
  color: var(--oxford-blue);
  box-shadow: 6px 6px 16px hsl(240, 8%, 12%),
          -6px -6px 16px hsl(240, 8%, 20%), 
          inset -6px -6px 16px hsl(240, 8%, 20%), 
          inset 6px 6px 12px hsl(240, 8%, 12%);
}
.board .counter{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counter > *{
  display: flex;
  align-content: center;
  gap: .5rem;
}
.board .die-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 1rem;
  margin: 3rem 0;
}
.die i{
  color: var(--die-clr);
  font-size: 2.5rem;
  cursor: pointer;
}
.board.dark-mode .die i{
  color: var(--dark-die-clr);
}
.die.held i,.board.dark-mode .die.held i{
  color: var(--green);
}
.board .roll-btn{
  width: 50px;
  height: 50px;
  background: var(--blue);
  font-size: 1.5rem;
  border: none;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}
.roll-btn .fa-solid{
  color: var(--container-bg);
}
.board .roll-btn:active{
  transform: translateY(5px);
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
}
.board .features{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  position: relative;
}
.features span{
  font-size: 1rem;
  cursor: pointer;
}
.features .help-menu{
  position: absolute;
  top: -160px;
  max-width: 250px;
  color: var(--die-clr);
  background: var(--container-bg);
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
.help-menu::after{
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  content: '';
  width: 20px;
  height: 20px;
  background: var(--container-bg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}